:root {
  --primary-color: #80c3bc;
  --secondary-color: #0079cc;
  --background-color: #f5f9f9;
  --button-hover-color: #fff2f0;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

h1 {
  font-size: 70px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 42px;
  padding-top: 5px;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: black;
  font-size: 16px;
  line-height: 30px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav {
  padding: 20px 0;
}

nav a {
  text-decoration: none;
  color: black;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--primary-color);
}

.container-fluid {
  background: var(--background-color);
}

.logo {
  max-height: 40px;
}

.hero {
  background: var(--background-color);
  padding: 0px 50px 50px 50px;
}

.card {
  border: none;
  background: var(--background-color);
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: white;
  padding-left: 20px;
}

.hero h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 24px;
  color: white;
  padding-left: 20px;
}

.hero h1 {
  color: white;
  padding-left: 20px;
}

.content h1 {
  font-size: 54px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  margin: 20px 0 0;
}

.content h6 {
  color: var(--primary-color);
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.content p {
  font-size: 14px;
}

.content a {
  text-decoration: none;
  color: black;
}

.content a:hover {
  color: var(--primary-color);
}

.content-container {
  padding: 60px 20px;
}

.content {
  margin: 30px;
}

.experience-container .experience {
  border: 1px solid var(--button-hover-color);
}

.experience-container h3 {
  font-size: 42px;
}

.navigation-links {
  display: flex;
  justify-content: start;
}

.navigation-links a {
  margin: 20px;
}

.primary-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  border-radius: 4px;
  padding: 18px 30px;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 200ms ease-in-out;
}

.button-outline {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.project-description {
  padding: 120px 60px;
}

.banner-button {
  display: block;
  margin: 70px auto;
}

.primary-link:hover {
  background-color: var(--button-hover-color);
  color: var(--secondary-color);
}

footer {
  margin: 60px 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}

footer .email-link:hover {
  color: var(--primary-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--primary-color);
  background: var(--background-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--primary-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    margin-top: 5px;
  }

  h2 {
    font-size: 42px;
  }

  nav a {
    font-size: 14px;
  }

  .hero {
    padding: 25px;
  }

  .hero img {
    min-height: 650px;
    object-fit: cover;
    overflow: hidden;
  }

  .hero p {
    font-size: 28px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .content-container {
    text-align: center;
    padding: 0;
  }

  .work-inquiry {
    margin-top: 120px;
    text-align: center;
  }

  .work-inquiry img {
    min-height: 250px;
  }
}

@media (max-width: 991px) {
  .work-inquiry {
    margin-top: 40px;
    text-align: center;
  }

  .work-inquiry img {
    min-height: 250px;
  }
}

@media (max-width: 1200px) {
  .project-description {
    padding: 0;
  }
}
